# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv/
env.bak/
venv.bak/
dist/
build/
*.egg-info/
.mypy_cache/
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# 忽略 所有的 node_modules 
node_modules/
